{% extends 'base.html.twig' %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/circular-std/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/libs/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/fontawesome/css/fontawesome-all.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/opendata/design.css') }}">
    {% endblock %}
    {% block body %}

      <!-- ============================================================== -->
      <!-- login page  -->
      <!-- ============================================================== -->
      <div class="splash-container">
        <div class="text-center">
          <a href="{{ path('homepage') }}">
            <img class="logo-img" src="{{ asset('assets/opendata/imgs/logo.png') }}">
          </a>
        </div>
          {% if error %}
            <div class="alert alert-danger text-center">Email ou mot de passe incorrect{#{ error.messageKey|trans }#}</div>
          {% endif %} 
        <div class="card ">
          <div class="card-body">
            <h1>Se Connecter</h1>
            <form action={{ path('login-page')}} method='post'>
              <div class="form-group">
                <input class="form-control form-control-lg" id="email" type="email" name="_username"  placeholder="Email{#{ 'login.form.login.placeholder'|trans }#}" value="{{ email }}" required autofocus>
              </div>
              <div class="form-group">
                <input class="form-control form-control-lg" id="password" type="password" name="_password" placeholder="Mot de passe{#{ 'login.form.password.placeholder'|trans }#}" required>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input class="custom-control-input" name='_remember_me' type="checkbox"><span class="custom-control-label"> se souvenir de moi{#{ 'login.form.remember_me'|trans }#}</span>
                </label>
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">Se connecter{#{ 'login.form.submit'|trans }#}</button>
              <br><a href="{{ path('register-page') }}">Inscrivez vous en cliquant ici</a>
              {# <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/> #}
            </form>
          </div>
      <!-- ============================================================== -->
      <!-- end login page  -->
      <!-- ============================================================== -->
    {% endblock %}

    {% block javascripts %}
    <script src="{{ asset('assets/vendor/jquery/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.js') }}"></script>
    {% endblock %}

